.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.searchBox{
  width: 60%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
input{
  padding: 6px 12px;
  background: rgb(31, 32, 35);
  border: 1px solid rgb(60, 63, 68);
  border-radius: 4px;
  font-size: 13px;
  height: 46px;
  appearance: none;
  transition: border 0.15s ease 0s;
  width: 70%;
  color: rgb(215, 215, 215);
}

.add-btn{
  display: inline-block;
  border-radius: 2px;
  background-color: #821ef4;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 17px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.add-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.add-btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.add-btn:hover span {
  padding-right: 25px;
}

.add-btn:hover span:after {
  opacity: 1;
  right: 0;
}
.filters{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 20px;
}

.filter-title{
  color: #dadada;
  font-size: 18px;
  margin: 10px;
}

.complete-filter{
  font-weight: 600; 
  margin: 10px;
  border: 2px solid #464646;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  padding: 6px;
}

.pending-filter{
  font-weight: 600;
  margin: 10px;
  border: 2px solid #464646;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  padding: 6px;
}
.box-title{
  color: #464646;
  font-size: 18px;
  margin: 10px;

}


.todo-box{
  padding: 20px;
  background-color: rgb(31, 32, 35);
  border-radius: 4px;
  width: 50%;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.todo{
  background-color: #282c34;
  width: 90%;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.todo-text{
  cursor: pointer;
  color: #FFFFFF;
  font-size: 16px;
}

.remove{
  cursor: pointer;
  color: rgb(222, 55, 55);
  font-size: 12px;
}

.completed-title{
  color: #48ed40;
  font-size: 18px;
  margin: 10px;
}

.completed{
  cursor: pointer;
  text-decoration: line-through;
  color: #888888;
  font-size: 16px;
}